@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,100,300);


body {
  background-color: #ce5044;
  font-family: 'Roboto Slab', serif;

}

.container {
  text-align: center;
  position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 100%;
    background-color: grey;
    border-radius: 8px;

}

/*.container h3 {
  color: white;


}*/

.Formcontainer {
  text-align: center;
  position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 100%;
    background-color: grey;
    border-radius: 8px;
    /*color: white;*/
}

.Beercontainer {
  text-align: center;
  position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 100%;
    background-color: ;
    border-radius: 8px;
}

.Indcontainer {
  text-align: center;
  position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	width: 100%;
    background-color: grey;
    border-radius: 8px;
}


#showBtn {
  background: white;
  width: 250px;
  list-style: none;
}
#addBtn {
  background: white;
  width: 250px;
}


#subBtn {
  background: white;
  width: 250px;
}


#backBtn {
  background: white;
  width: 250px;
}


#hmeBtn {
  background: white;
  width: 250px;
  color: #808080;
}



h1{
  font-family: 'Roboto Slab', serif;
  color: #fff;

}
h2 {
  font-family: 'Roboto Slab', serif;
  color: #fff;
}

h4 {
  font-family: 'Roboto Slab', serif;
  color: black;
}

h5 {
  font-family: 'Roboto Slab', serif;
  color: black;
}



a:hover {
    text-decoration: underline;
}


a:active {
    color: grey;
}

#viewBtn {
  background: white;
  width: 250px;
}
