<head>
  <title>Add A Beer</title>
  <link rel="stylesheet" href="css/normalize.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/skeleton.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <form action="/add" method="POST" class="six columns offset-by-three" >
    <div class="row">
      <div class="six columns">
        <label for="name">Name</label>
        <input class="u-full-width" type="text" placeholder="Beer Name" name="name">
    </div>
      <div class="six columns">
        <label for="style">Style</label>
        <input class="u-full-width" type="text" placeholder="Beer Style" name="style">
    </div>
      <div class="row">
        <div class="six columns">
          <label for="Brewer">Brewer</label>
          <input class="u-full-width" type="text" placeholder="Brewer" name="brewer">
       </div>
        <div class="six columns">
          <label for="">Batch Yield</label>
          <input class="u-full-width" type="number" placeholder="Batch Yield" name="yield">
       </div>
        <div class="row">
          <div class="six columns">
            <label for="Brew Date">Brew Date</label>
            <input class="u-full-width" type="date" placeholder="Brew Date" name="brewDate">
          </div>
          <div class="six columns">
            <label for="Bottling Date">Bottling Date</label>
            <input class="u-full-width" type="date" placeholder="Bottling Date" name="bottlingDate">
          </div>
          <div class="row">
            <div class="six columns">
              <label for="Original Gravity">Original Gravity</label>
              <input class="u-full-width" type="number" placeholder="Original Gravity" name="original">
        </div>
            <div class="six columns">
              <label for="Final Gravity">Final Gravity</label>
              <input class="u-full-width" type="number" placeholder="Final Gravity" name="final">
           </div>
             <div class="row">
              <div class="six columns">
                <label for="Mash Temperature">Mash Temperature</label>
                <input class="u-full-width" type="number" placeholder="Mash Temperature" name="mash">
            </div>
              <div class="six columns">
                <label for="Fermentation Temperature">Fermentation Temperature</label>
                <input class="u-full-width" type="number" placeholder="Fermentation Temperature" name="ferment">
               </div>
              <div class="row">
                <div class="six columns">
                  <label for="ABV">ABV</label>
                  <input class="u-full-width" type="number" placeholder="ABV" name="abv">
                </div>
                <div class="six columns">
                  <label for="IBU">IBU</label>
                  <input class="u-full-width" type="number" placeholder="IBU" name="ibu">
            </div>
              </div>
              <label for="Brew Ingredients"> Brew Ingredients</label>
              <textarea class="u-full-width" placeholder="Brew Ingredients" name="ingredients"></textarea>
              <label for="Brewing Process">Brewing Process</label>
              <textarea class="u-full-width" placeholder="Brewing Process" name="brewing"></textarea>
              <label for="Fermentation Process">Fermentation Process</label>
              <textarea class="u-full-width" placeholder="Fermentation Process" name="fermentation"></textarea>
              <label for="Tasting Notes">Tasting Notes</label>
              <textarea class="u-full-width" placeholder="Tasting Notes" name="tasting"></textarea>
              <input id="subBtn" type="submit" value="Submit">
                <button id="hmeBtn"><a href= "/ ">home</button>
            </form>
          </body>
