<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add a beer</title>
</head>
<body>
<div class="container">
  <h2>Add a new beer</h2>
  <form action="/add" method="POST">
    Beer Name:<br>
    <input type="text" id="name" name="name"><br>
    Style:<br>
    <input type="text" id="style" name="style"><br><br>
    Inventory:<br>
    <input type="number" id="inventory" name="inventory"><br><br>
    <input type="submit" value="Submit">
  </form>
</div>

</body>
