<h1>Add New Beer</h1>

  <form>
    <input type="text" name="beername" placeholder="name of the beer">
    <input type="date" name="productiondate" placeholder="production date">
    <input type="number" name="id" placeholder="list number?">
    <textarea placeholder="recipe" name="description"></textarea>
    <br>
    <input type="submit" name="commit" value="add beer data" />
  </form>
