<h1>Add New Beer</h1>

  <form>
    <input type="text" name="beername" placeholder="name of the beer">
    <br>
    <input type="date" name="productiondate" placeholder="production date">
    <br>
    <!--<textarea placeholder="recipe" name="description"></textarea>-->
    <br>
    <input type="submit" name="commit" value="add beer data" />
  </form>
