<h1>Hello</h1>
<h2>Welcome to brewbook-brewfolio-brewkeeper</h2>
<ul>
{{#each beers}}
<li>{{name}}</li>
<button class="myBtn" data-id="{{this.id}}">View</button>
{{/each}}
</ul>
<div id='profile'></div>
