<html>
<head>
  <title>Brewery</title>
</head>
<body>
  <h1>liquid intelligence</h1>
  <h3>Brews to date</h3>
  <ul>
    {{#each beer}}
    <li><h3>{{name}}</h3></li>
    <button type='button' class='viewBtn' data-id='{{this.id}}'>View</button>
    {{/each}}
  </ul>
</body>
</html>
