<h1>Hello welcome to Rahmona's Brewery</h1>
<h1>Brews to date</h1>
<ul>
{{#each beers}}
<li>{{name}}</li>
<button class='myBtn' data-id='{{this.id}}'>View</button>
{{/each}}
</ul>
<button id="backBtn">Go Back</button>

