<html>
<head>
  <title>Brewery</title>
</head>
<body>
  <h1>liquid intelligence v1</h1>
  <h3>Brews to date</h3>
  <ul>
    {{#each beer}}
    <li><h3>{{name}}</h3></li>
    <a class='viewBtn' id='{{this.id}}' href="#">View</a>
    {{/each}}
  </ul>
    <button id="backBtn">Go Back</button>
</body>
</html>
