<h1>Hello Rahmona</h1>
<p>Here is a list of the beers you have made to date</p>
<ul>
{{#each beers}}
<li>{{name}}</li>
<button class="myBtn" data-id="{{this.id}}">View</button>
{{/each}}
</ul>
<div id='profile'></div>
