
<html>
  <head>
    <title>Brewery</title>
  </head>
  <body>
<h1>The Brewery</h1>
<h1>Brews to date</h1>
<ul>
{{#each beers}}
<li><h1>{{name}}</h1></li>
<button type='button' class='viewBtn' data-id='{{this.id}}'>View</button>
{{/each}}
</ul>
</body>
</html>
