<html>
<head>
  <title>The Brewery</title>
</head>
<body>
  <h1>liquid intelligence</h1>
  <h1>{{name}}'s details</h1>
  <h3>Beer Style: {{style}}</h3>
  <h3>Inventory: {{inventory}}</h3>
  <button id="backBtn">Go Back</button>
</body>
</html>
