<html>
  <head>
    <title>The Brewery</title>
  </head>
<body>
<h1>{{name}}'s details</h1>

<h3>Production Date: {{date}}</h3>
<h3>Style of Beer: {{style}}</h3>
<h3>Recipe: {{recipe}}</h3>

<button id="backBtn">Go Back</button>
</body>
</html>
