<html>
<head>
  <title>The Brewery</title>
</head>
<body>

  <h1>liquid intelligence v1</h1>
  <h2>{{name}}'s details</h2>
  <h3>Beer Style: {{style}}</h3>
  <h3>Inventory: {{inventory}}</h3>
  <button id="backBtn">Go Back</button>

</body>
</html>
