<!DOCTYPE html>
<html>
  <head>
    <title>Rahmona's Brewery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='./style.css' />
  </head>
<body>
<h1>{{name}}'s details</h1>

<h3>Production Date: {{date}}</h3>
<h3>Style of Beer: {{style}}</h3>
<h3>Recipe: {{recipe}}</h3>

<button id="backBtn">Go Back</button>
</body>
</html>
