<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="container">
  <h2>Search for a beer</h2>
  <form action="/boo" method="POST">
    What Beer Name to search:<br>
    <input type="text" id="name" name="name"><br>
    <input type="submit" value="Submit">
  </form>
</div>

</body>

